.diagram-div {
    margin: auto;
    width: 50%;
    padding: 10px;
    height: 500px;
    width: 900px;

}

@media only screen and (max-width: 600px) {
    .diagram-div {
        width: 10%;
        max-width: 200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}