.account-bacground {
    background-image: url('../../../photo/records.svg');
    height: 100vh;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .header {
        font-size: 1.2em;
    }

    .content {
        font-size: 0.9em;
    }
}